.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar.dark {
  background-color: #333;
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 1.2em;
}

.sidebar h3 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin-bottom: 25px; 
}

.menu-items li:last-child {
  margin-bottom: 0;
}

.item-icon {
  margin-right: 10px;


}
.menu-items li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 100px; /* Rounded corners */
}

.menu-items li a:hover {
  background-color: #2564ed; /* Blue hover background */
  color: white; /* White text on hover */
}

.item-icon {
  margin-right: 10px;
}
.icon {
  margin-left: 10px;
}

.menu-items a {
  text-decoration: none;
  color: inherit;
}

.toggle {
  margin-top: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 100px; /* Rounded corners */
}

.toggle:hover {
  background-color: #2564ed; /* Blue hover background */
  color: white; /* White text on hover */
}

.toggle svg {
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
